.banner{
	display: flex;
	align-items: center;
	justify-content: center; 
	text-align: center;
  	height: 600px;
  	background-image: url(https://images.unsplash.com/photo-1526834833722-0dc451859114?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80)

}

.banner-content {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px black;

}

.button {
	border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}


* {
    font-family: Helvetica;
    font-size: 1.2em;
    color: white;
    text-align: center;
}



.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;

}


.item {
    width: 300px;
    height: 200px;


}
.container div:nth-child(1), div:nth-child(6) {
    background-color: #00BFB8;
}

.container div:nth-child(2), div:nth-child(7) {
    background-color: #8E007E;
}

.container div:nth-child(3), div:nth-child(8) {
    background-color: #23D0EA;
}

.footer{
	align-items: left;
	background-color: black;
	height: 150px;
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}






